# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
restapisummarizer

# Test binary, built with `go test -c`
*.test

# Output of the go toolchain
.cache/
.vscode/

# Dependencies
/vendor/

# Go build directory
/bin/
/pkg/

# IDE-specific files
.idea/
.project/
.settings/
.classpath
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
